/* @import url("./theme.css"); */
body {
    overflow: hidden;
}


.warning-banner {
    position: fixed;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-highlight--secondary);
    color: var(--background-base);
    font-weight: 700;
    z-index: 1;
}

.highlight {
    color: var(--text-highlight--primary);
}

#scrollable-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
}


#album-cards__container {
    position: absolute;
    display: grid;
    gap: 4vmin;

    /* COMMENT FOR VERTICAL LAYOUT */
    grid-auto-flow: column;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 0 25vw;
    

    /* UNCOMMENT FOR VERTICAL LAYOUT */
    /* grid-auto-flow: row;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 27vh 0; */

    /* background-color: red; */
}

.album-card {
    position: relative;
    transform-style: preserve-3d;
    perspective: 3200px;

    width: 50vw;
    aspect-ratio: 1 / 1;
    max-width: 695px;
}

.album-card__front,
.album-card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: all 0.6s ease;
}

.album-card__front {
    background-size: cover;
    background-position: center;
    transform: rotateX(0deg);       /* default: 0deg */
}
.album-card__back {
    background-color: var(--background-tinted);
    color: var(--text-base);
    transform: rotateX(-180deg);    /* default: -180deg */
    /* position: relative; */
}
.album-card.flipped .album-card__front {
    transform: rotateX(180deg);     /* default: 180deg */
}
.album-card.flipped .album-card__back {
    transform: rotateX(0deg);       /* default: 0deg */
}


/* BACK OF CARD design patterns */
.album-card__back--wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: inherit;
    
    /* overflow: hidden; */
    padding: 3em;
}

.album-headings {
    padding-bottom: 2em;
    /* background-color: plum; */
}

.album-title {
    font-size: clamp(1rem, 2.4vw, 1.8rem);
    font-weight: 900;
    margin-top: 1em;
}

.album-subheadings {
    display: flex;
    font-size: clamp(0.6rem, 1.2vw, 0.875rem);
    font-weight: 700;
    padding: 0.4em 0 1.2em;
}
.album-artist {
    font-weight: 700;
    color: var(--text-highlight--secondary);
}
.album-year {
    font-weight: 400;
}
.separator:not(:first-child)::before {
    content: "•";
    margin: 0 0.875em;
}

.album-comments {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    color: var(--text-subdued);
}


.songs-list {
    overflow-y: auto;
    scrollbar-width: none;
}

.songs-list-row {
    display: grid;
    padding: 0 16px;
    height: 56px;   /* SET ELSEWHERE */

    grid-template-columns: [index] 16px [first] minmax(120px,4fr) [last] 24px /*minmax(120px,1fr)*/;
    grid-gap: 16px;
}

.songs-list-row__song-index {
    display: flex;
    align-items: center;
    justify-self: end;
    color: var(--text-subdued);
}
.index-number {
    display: inline-block;
    height: 16px;
    min-height: 16px;
    width: 16px;
    min-width: 16px;
    position: relative;
}
.index-number__value {
    margin-block: 0px;
    position: absolute;
    right: .25em;
    /* top: -4px; */
    font-size: 0.8rem;
}

.songs-list-row__song-info {
    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songs-list-row__song-info--grid {
    display: grid;
    column-gap: 4px;    /* NECESSARY FOR EXPLICIT TAG SPACING */
    grid-template: "title title" "badges subtitle" / auto 1fr;
    align-items: center;
    padding-inline-end: 8px;
}

/* ISSUE: song name can extend past container. text-overflow: ellipsis isn't working. */
.songs-list-row__song-name {
    grid-area: title;
    justify-self: start;
}
.songs-list-row__song-comment {
    margin-block: 0px;
    color: var(--text-subdued);
    grid-area: subtitle;
    grid-column-start: badges;

    font-size: 0.6rem;

    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.songs-list__col--rating {
    display: flex;
    align-items: center;
    
    grid-column: last;
    justify-content: flex-end;
}
.songs-list-row__rating-icon {
    color: var(--text-subdued);
    cursor: default;
}
.songs-list-row__rating-icon:not(:last-child) {
    margin-right: 12px;
}


.songs-list-row:not(:last-child) {
    border-bottom: 1px solid var(--tracklist-row-highlight-color);
}
.songs-list-row:nth-child(odd) {
    background-color: var(--tracklist-alt-row-color);
}
.songs-list-row:hover {
    background-color: var(--tracklist-row-highlight-color);
}