:root {
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Helvetica, sans-serif;*/

    --background-base: #070707;
    --background-tinted: #181818;
    --text-base: #fff;
    --text-secondary: #393636;  /* 221f1f / 393636 / rgb(154,154,154) */
    --text-subdued: #a7a7a7;

    --text-highlight--primary: #fa586a;
    --text-highlight--secondary: #bba0db;   /* 1DB594 / bba0db*/

    --tracklist-alt-row-color: hsla(0,0%,100%,.015);
    --tracklist-row-highlight-color: hsla(0,0%,100%,.05);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-base);
    font-family: var(--font-family);
    color: var(--text-base);
}